# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [225]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
from functools import reduce

# Import API key
from api_key import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [226]:
csv_path = '../WeatherPy/Resources/output_clean_cities.csv'

cities = pd.read_csv(csv_path)
cities = cities.drop(columns='Unnamed: 0')
cities.head()

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,ushuaia,-54.80,-68.30,4.00,69,40,3.60,AR,1596220941
1,hilo,19.73,-155.09,26.00,65,40,2.60,US,1596220924
2,tilichiki,60.47,166.10,10.27,93,45,2.61,RU,1596221058
3,joyabaj,14.99,-90.81,21.11,59,6,3.13,GT,1596221058
4,punta arenas,-53.15,-70.92,3.00,82,75,7.20,CL,1596221058

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [227]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)

In [228]:
# Store 'Lat' and 'Lng' into  locations 
locations = cities[["Lat", "Lon"]].astype(float)
weights = cities["Humidity"].astype(float)

In [229]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=weights, 
                                 dissipating=False)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [232]:
fig2 = gmaps.figure()
fig2.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig2

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [58]:
# Temperature range (in Celsius)
min_temp = cities[cities['Max Temp'] > 25]
max_temp = cities[cities['Max Temp'] < 35]

# Max Humidity
max_humidity = cities[cities.Humidity < 90]

# Max Wind Speed
max_wind = cities[cities['Wind Speed'] < 3.1]

# Max Cloudiness
max_cloud = cities[cities['Cloudiness'] < 25]


conditions = [min_temp, max_temp, max_humidity, max_wind, max_cloud]

cities['Cloudiness'].describe()

count    562.000000
mean      50.469751
std       39.672410
min        0.000000
25%        5.250000
50%       49.500000
75%       90.000000
max      100.000000
Name: Cloudiness, dtype: float64

In [59]:
cities_merged = reduce(lambda  left,right: pd.merge(left,right,on=['City'],
                                            how='outer'), conditions)
cities_merged = cities_merged.dropna().reset_index(drop=True)

final_cities = cities_merged.iloc[:,0:8].rename(columns={'Lat_x': 'Lat',
                                        'Lon_x': 'Lon',
                                        'Max Temp_x':'Max Temp',
                                        'Humidity_x':'Humidity',
                                        'Cloudiness_x':'Cloudiness',
                                        'Wind Speed_x':'Wind Speed',
                                        'Country_x':'Country',})
final_cities

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country
0,albany,42.60,-73.97,30.56,39.0,13.0,1.68,US
1,kindu,-2.95,25.95,26.66,47.0,0.0,1.21,CD
2,georgetown,5.41,100.34,26.00,88.0,20.0,1.00,MY
3,lanycsok,46.01,18.63,30.00,45.0,0.0,2.10,HU
4,bemidji,47.47,-94.88,27.78,50.0,1.0,2.10,US
5,guerrero negro,27.98,-114.06,30.87,41.0,11.0,1.64,MX
6,ixtapa,20.70,-105.20,31.67,70.0,20.0,2.60,MX
7,lodja,-3.48,23.43,27.34,33.0,7.0,0.52,CD
8,impfondo,1.64,18.07,25.86,66.0,21.0,1.24,CG
9,bethel,41.37,-73.41,27.78,61.0,20.0,2.60,US
10,kulu,39.10,33.08,25.24,30.0,0.0,2.86,TR
11,sioux lookout,50.10,-91.92,27.00,42.0,20.0,1.50,CA
12,port charlotte,26.98,-82.09,34.44,52.0,20.0,2.10,US
13,fort myers beach,26.45,-81.95,34.44,49.0,20.0,2.60,US
14,urubicha,-15.38,-62.95,34.27,20.0,0.0,1.32,BO
15,carauari,-4.88,-66.90,34.33,32.0,0.0,1.81,BR
16,reyes,-14.32,-67.38,31.33,35.0,0.0,1.15,BO
17,yueyang,29.33,113.09,27.42,80.0,15.0,1.56,CN
18,iona,26.52,-81.96,34.44,49.0,20.0,2.60,US
19,gat,31.61,34.76,28.33,58.0,0.0,0.90,IL
20,vallenar,-28.57,-70.76,30.66,10.0,0.0,2.08,CL
21,boende,-0.22,20.87,26.72,52.0,9.0,0.75,CD
22,sidi ali,36.10,0.42,27.38,60.0,0.0,1.16,DZ
23,itoman,26.12,127.67,28.89,88.0,20.0,2.60,JP
24,mabaruma,8.20,-59.78,31.94,56.0,2.0,2.13,GY
25,montrose,38.42,-108.27,31.11,18.0,0.0,2.68,US
26,pyapon,16.28,95.68,26.50,87.0,20.0,2.82,MM
27,portage,41.17,-81.20,28.33,39.0,1.0,2.10,US
28,zhanakorgan,43.91,67.25,25.52,38.0,9.0,2.03,KZ
29,portland,45.52,-122.68,26.67,38.0,20.0,2.10,US
30,selma,36.57,-119.61,32.78,38.0,1.0,0.58,US

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [180]:
hotel_df = final_cities.copy()
hotel_df['Hotel Name'] = "" 
hotel_df.head(5)

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Hotel Name
0,albany,42.60,-73.97,30.56,39.0,13.0,1.68,US,
1,kindu,-2.95,25.95,26.66,47.0,0.0,1.21,CD,
2,georgetown,5.41,100.34,26.00,88.0,20.0,1.00,MY,
3,lanycsok,46.01,18.63,30.00,45.0,0.0,2.10,HU,
4,bemidji,47.47,-94.88,27.78,50.0,1.0,2.10,US,

In [199]:
# Make subsequent API requests using a For Loop

# Search parameters
target_search = "five star" # --> This will narrow down search further 
target_radius = 5000
target_type = "lodging"
key = g_key

base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

# Sample Google API Request
#'json?location=-33.8670522,151.1957362&radius=1500&type=restaurant&keyword=cruise&key=YOUR_API_KEY'

for i in range(len(hotel_df)):
    
    target_coordinates = f"{hotel_df['Lat'][i]}, {hotel_df['Lon'][i]}"
        
    parameters = {
        "location": target_coordinates,
        "keyword": target_search,
        "radius": target_radius,
        "type": target_type,
        "key": g_key
    }
    
    # Make API request
    response = requests.get(base_url, params=parameters)
    hotels_data = response.json()
    
    # Extract results
    results = hotels_data['results']
    
    # Exception handling
    try:
        hotel_df.loc[i, 'Hotel Name'] = hotels_data["results"][0]["name"]
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        print("------------")
        #test.loc[i, 'Hotel Name'] = "NA"

Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------
Missing field/result... skipping.
------------

In [216]:
# Final destination list (keeping only locations with 5-star accomodations) 
destinations = hotel_df.copy()
test = hotel_df.copy()

# Get indexes for which Hotel Name get request didn't return a value
row_index = destinations[destinations['Hotel Name'] == "" ].index

# Delete these row indexes from dataFrame
destinations.drop(row_index, inplace=True)
destinations

test.drop(test[test['Hotel Name'] == "" ].index, inplace=True)
test.reset_index(drop=True)

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Hotel Name
0,bemidji,47.47,-94.88,27.78,50.0,1.0,2.10,US,Hampton Inn & Suites Bemidji
1,ixtapa,20.70,-105.20,31.67,70.0,20.0,2.60,MX,"The Westin Resort & Spa, Puerto Vallarta"
2,fort myers beach,26.45,-81.95,34.44,49.0,20.0,2.60,US,Lani Kai Island Resort
3,yueyang,29.33,113.09,27.42,80.0,15.0,1.56,CN,Apollo Regalia Hotels & Resorts

In [207]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in destinations.iterrows()]
locations = destinations[["Lat", "Lon"]]

In [221]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [190]:
# Test Code for For Loop

# City = Puerto Vallarta, MX
target_coordinates = "20.70, -105.20" 
target_search = "five star"
target_radius = 5000
target_type = "lodging"
key = g_key

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
response = requests.get(base_url, params=params)
places_data = response.json()
print(response.url)
#print(json.dumps(places_data, indent=4, sort_keys=True))

print(places_data["results"][0]["name"])
print(places_data["results"][0]["vicinity"])

https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=20.70%2C+-105.20&keyword=five+star&radius=5000&type=lodging&key=AIzaSyBTT_Hgbm87FB2cSbxuEkRnW2n_g9qi3ps
The Westin Resort & Spa, Puerto Vallarta
Av. Paseo de la Marina Sur #205, Marina Vallarta, Puerto Vallarta